:root {
    --color1: #233059;
    --color2: #506CBF;
    --color3: #A0C9D9;
    --color4: #F2D680;
    --color5: #F26D6D;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F8F8F8;
    display: none;
}

button {
    border-style: none;
    border-width: none;
    border-color: none;
    font-family: Raleway, "Arial", sans-serif;
    font-style: bold;
}

/* MAIN PAGE */

#gauche {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 20%;
}

.background_shape {
    border-top: 100vh solid var(--color4);
    border-right: 100px solid transparent;
    width: 100%;
    background-color: transparent;
}

.menu_button_container {
    position: absolute;
    z-index: 2;
    top: 40%;
    left: 10%;
    width: 100%;
}

.menu_button_container button {
    display: block;
    border: none;
    outline: none;
    width: 100%;
    padding: 5px 0px;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: 50px;
    text-align: left;
    color: white;
}

.menu_button_container button:hover {
    color: gray;
}

.menu_text_style_1 {
    font-size: 30px;
    font-family: Raleway, "Arial", sans-serif;
    color: var(--color5);
}

.menu_text_style_2 {
    font-size: 25px;
    font-family: Source Sans Pro;
    font-weight: bold;
    color: var(--color5);
}

.menu_text_position {
    z-index: 2;
    position: absolute;
    top: 40%;
    right: 7%;
}

.spacer {
    padding-top: 50px;
}

.centered_image {
    position: absolute;
    z-index: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    left: -15%;
    right: 0;
    width: 700px;
    height: 800px;
}

.centered_image img {
    width: 100%;
    padding-left: 20px;
}

/* PROJECT PAGE */

.project_container {
    display: none;
    position: absolute;
    top: 10%;
    right: 10%;
    width: 55%;
    justify-content: flex-end;
}

.project {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: flex-start;
    margin: 10px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.40);
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#project_overview_image {
    order: 0;
    position: relative;
    overflow: hidden;
    flex: 1 0 20%;
    margin: 20px;
    height: 300px;
}

#project_overview_image img {
    position: absolute;
}

#debunker {
    height: 110%;
    bottom: 0;
    left: -30%;
}

#wip {
    height: 140%;
    bottom: -5%;
    left: -40%;
}

#umbra {
    height: 100%;
    left: -24%;
}

#drush {
    width: 100%;
    top: 15%;
}

#project_overview_description {
    order: 1;
    flex: 1 0 30%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 30px;
}

.project_text_style_01 {
    font-size: 20px;
    font-family: Archivo;
    font-weight: 100;
    color: black;
}

#project_overview_button {
    order: 2;
    flex: 0 0 100px;
    height: 50px;
    align-self: center;
    margin: 20px;
    background-color: gold;
}