:root {
    --color1: #233059;
    --color2: #506CBF;
    --color3: #A0C9D9;
    --color4: #F2D680;
    --color5: #F26D6D;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F8F8F8;
    display: none;
}

button {
    border-style: none;
    border-width: none;
    border-color: none;
    font-family: Raleway, "Arial", sans-serif;
    font-style: bold;
}

@media (max-width: 1200px) {

    /* MAIN PAGE */

    .menu {
        position: fixed;
        z-index: 1;
        top: 0;
        width: 100%;
    }

    .background_shape {
        display: none;
    }

    .menu_button_container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: var(--color4);
    }

    .menu_button_container button {
        display: block;
        border: none;
        outline: none;
        padding: 5px 0px;
        background-color: #f3d067;
        font-size: 4vw;
        color: white;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
    }

    .menu_button_container button:hover {
        color: gray;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
    }

    .menu_text_style_1 {
        font-size: 4vw;
        font-family: Raleway, "Arial", sans-serif;
        color: var(--color5);
    }

    .menu_text_position {
        z-index: 2;
        position: absolute;
        left: 10%;
        bottom: 10%;
    }

    .centered_image {
        position: absolute;
        z-index: 0;
        margin: auto;
        top: 10vh;
        left: 0;
        right: 0;
        width: 90vw;
    }

    .centered_image img {
        width: 100%;
        padding-left: 40px;
    }

    /* PROJECT PAGE */

    .project_container {
        display: none;
        position: absolute;
        top: 5%;
        width: 100%;
        justify-content: flex-end;
    }

    .project {
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch;
        justify-content: flex-start;
        margin: 20px;
        margin-bottom: 40px;
        box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.40);
        background-color: white;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .project_overview_image {
        order: 0;
        position: relative;
        overflow: hidden;
        flex: 1 0 55%;
        margin: 20px;
        height: 300px;
    }

    .project_overview_image img {
        position: absolute;
        height: 100%;
    }

    .project_right {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        margin-bottom: 20px;
        padding-right: 30px;
        order: 1;
    }

    .project_text_style_01 {
        font-size: 20px;
        font-family: Archivo;
        font-weight: 100;
        color: black;
    }

    .project_button_container a {
        font-size: 28px;
        font-family: Source Sans Pro;
        font-weight: bold;
        color: black;
    }

    .project_button_container {
        display: flex;
        flex-direction: row;
        flex: 0 1 auto;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .project_button_container a {
        width: 200px;
        text-align: center;
        padding: 20px;
        text-decoration: none;
        background-color: var(--color4);
        transition: 0.5s;

    }

    .project_button_container a:hover {
        background-color: rgb(255, 191, 94);
        transition: 0.5s;
    }

    /* GAME DESIGN */

    .gd_container {
        display: none;
        position: absolute;
        top: 5%;
        width: 100%;
        justify-content: flex-end;
    }

    .gd_element {
        margin: 20px;
        margin-bottom: 40px;
        flex-direction: column;
        background-color: white;
        box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.40);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .gd_element img {
        top: 0;
        width: 100%;
    }

    .gd_element p {
        font-size: 3vw;
        font-family: Archivo;
        font-weight: 100;
        text-align: center;
        color: black;
        padding: 10px;
    }

    /* ABOUT */

    .about_container {
        display: none;
        position: absolute;
        top: 6vh;
        margin-bottom: 50px;
    }

    .about_me {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
        width: 100%;
    }

    .about_me img {
        top: 0;
        width: 50vw;
        margin: auto;
        left: 0;
        right: 0;
        box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.40);
    }

    .about_me p {
        font-size: 4vw;
        font-family: Archivo;
        font-weight: 100;
        margin: auto;
        left: 0;
        right: 0;
        width: 95vw;
        padding: 50px;
        color: black;
    }

    .links {
        display: flex;
        flex-flow: row wrap;
        margin: auto;
        padding-left: 15vw;
        width: 95vw;
    }

    .link {
        display: flex;
        align-items: center;
        flex: 0 0 50%;
        margin: auto 0;
        padding-bottom: 10px;

    }

    .link img {
        margin-right: 20px;
        width: 100px;
        height: 100%;
    }

    .link a {
        font-size: 5vw;
        text-decoration: none;
        font-family: Archivo;
        font-weight: 100;
        color: black;
    }
}