:root{
	--color1 : #233059;
	--color2 : #506CBF;
	--color3 : #A0C9D9;
	--color4 : #F2D680;
	--color5 : #F26D6D;
	--mainBackColor : #FFFFFF;
}

@font-face {
	font-family: "HellFinland";
	src: url("../fonts/Hell Finland.ttf");
}

*
{
	margin: 0;
	padding: 0;
}

body
{
	overflow-y: hidden;
	background-color: var(--mainBackColor);
}

.background_shape
{
	z-index: 0;
	width: 40%;
    position: relative;
    border-top: 1080px solid var(--color4);
    border-right: 350px solid transparent;
    background-color: var(--mainBackColor);
}

.menu_text_style_1
{
	font-family: "HellFinland";
	font-weight: bold;
	font-size: 30px;
	color: var(--color5);
}

.menu_text_style_2
{
	font-family: Source Sans Pro;
	font-weight: bold;
	font-size: 25px;
	color: var(--color5);
}

.menu_text_position
{
	z-index: 2;
	position:absolute;
	left: 60%;
	top: 40%;
}

.spacer
{
	padding-top: 50px;
}

.centered_image
{
	margin: auto;
	z-index: 1;
	position:absolute;
	left: 0;
    right: 0;
    top: 0;
    bottom: 0;
	width: 300px;
	height: 700px;
}

.centered_image img
{
	padding-left:20px;
	width: 77%;
}